.board_register {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
  }
  
  .board_register h2 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #333;
  }
  
  .board_register_name{
    width: 100%;
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;
    box-sizing: border-box;
  }
  .board_register_homepage{
    width: 100%;
    height: 300px;
    padding: 10px 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    transition: border-color 0.3s;
    box-sizing: border-box;
  }

  
  .board_register input:focus {
    border-color: #007BFF;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  
  .board_register button {
    display: inline-block;
    width: calc(50% - 10px);
    padding: 10px 15px;
    margin: 10px 5px 0 5px;
    font-size: 1rem;
    color: #000000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
