.Used_store {
  width: 100%; /* 전체 화면을 다 채우도록 설정 */
  max-width: 1400px; /* 최대 너비를 늘려 화면에 더 넓게 배치되도록 설정 */
  margin: 0 auto; /* 화면 가운데에 배치 */
  padding: 20px; /* 여백 추가 */
  box-sizing: border-box;
}

.board_list {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 한 줄 4개 칸 고정 */
  gap: 30px; /* 카드 사이 간격을 넓게 설정 */
}

.board_card_wrapper {
  box-sizing: border-box;
}

.used_card {
  border: 1px solid #ddd;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 300px;
  box-sizing: border-box;
}

.used_card:hover {
  transform: scale(1.05);
}

.board_image {
  width: 100%;
  height: auto;
  max-height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.board_name {
  font-size: 16px;
  margin: 16px 0;
}

.board_price {
  font-size: 14px;
  color: rgb(0, 0, 0);
  font-weight: bold;
}

.board_details-link {
  display: block;
  margin-top: auto;
  color: #00f;
  text-decoration: underline;
}

.Used_store .category_Latest {
  position: relative;
  bottom: 75px;
  left: -300px;
  font-size: 16px;
  width: 80px;
  height: 25px;
  background-color: #ffffff;
  color: rgb(88, 81, 81);
  border:  rgb(0, 0, 0);
  border-radius: 5px;
  cursor: pointer;
  font-family: "Noto Sans KR", Helvetica, sans-serif;
  
}

.board_register_button{
  position: relative;
  bottom: 75px;
  left: 500px;
  background-color: transparent;
}

.board_plus{
  position: relative;
  left: 350px;
  bottom: 70px;
  background-color: transparent;
}
.board_plus .plus{
  width: 30px;
}

.Used_store .searchimg{
  width: 30px;
  position: relative;
  bottom: 50px;
  left: -470px;
}