.product_bookmark_container {
    margin: 20px;
    font-family: Arial, sans-serif;
}

h3 {
    font-size: 24px;
    color: #333;
}


.product_empty_state {
    text-align: center;
    margin: 20px 0;
}

.product_empty_state p {
    color: #666;
}


.product_controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.product_controls inputbox[type="checkbox"] {
    margin-right: 5px;
    width: 1px;
}

.product_controls button {
    padding: 5px 10px;
    background-color: #ffffff;
    border-radius: 1px;
    color: rgb(109, 176, 238);
    cursor: pointer;
} 

.camping_cards_container {
    display: flex; /* 가로 정렬 */
    flex-wrap: wrap; /* 요소를 줄 바꿈 가능하게 설정 */
    gap: 20px; /* 카드 간격 설정 */
    margin-top: 50px;
  }
  
 .camping_cards_container .camping_card_wrapper {
    width: 300px;
    border-radius: 8px; 
    overflow: hidden; /* 내용 넘침 방지 */
  }

  .product_cards_container {
    display: flex; /* 가로 정렬 */
    flex-wrap: wrap; /* 요소를 줄 바꿈 가능하게 설정 */
    gap: 20px; /* 카드 간격 설정 */
    margin-top: 50px;
  }
  
 .product_cards_container .product_card_wrapper {
    width: 300px;
    border-radius: 8px; 
    overflow: hidden; /* 내용 넘침 방지 */
  }
